**/data/
**/env/
**/venv/
**/.venv/
**/target/
**/node_modules/
**/.DS_Store

*.jar
*.war
*.ear
*.class

*.exe
*.dll
*.so
*.dylib

*.zip
*.tar.gz
*.rar
*.7z

*.psd
*.ai
*.svg
*.tiff

*.mp4
*.avi
*.mkv
*.mp3


*.wavcontent/002/apps/post-service/target/monitoring-0.0.1-SNAPSHOT.jar
content/002/apps/comment-service/target/monitoring-0.0.1-SNAPSHOT.jar
content/007/high-cardinality-detector/target/high-cardinality-detector-1.0-SNAPSHOT.jar
content/007/fastapi/.venv/lib/python3.12/site-packages/uvloop/loop.cpython-312-x86_64-linux-gnu.so
content/007/fastapi/.venv/lib/python3.12/site-packages/numpy.libs/libopenblas64_p-r0-0cf96a72.3.23.dev.so
content/007/fastapi/.venv/lib/python3.12/site-packages/scipy.libs/libscipy_openblas-68440149.so
content/007/flink/jobs/high-cardinality-detector-1.0-SNAPSHOT.jar
drafts/draft-013/.venv/lib/python3.12/site-packages/numpy.libs/libscipy_openblas64_-56d6093b.so
drafts/draft-013/.venv/lib/python3.12/site-packages/numpy/_core/_multiarray_umath.cpython-312-x86_64-linux-gnu.so
content/007/high-cardinality-detector/target/high-cardinality-detector-1.0-SNAPSHOT.jar
content/007/fastapi/.venv/lib/python3.12/site-packages/uvloop/loop.cpython-312-x86_64-linux-gnu.so
content/007/fastapi/.venv/lib/python3.12/site-packages/numpy.libs/libopenblas64_p-r0-0cf96a72.3.23.dev.so
content/007/fastapi/.venv/lib/python3.12/site-packages/scipy.libs/libscipy_openblas-68440149.so
content/007/flink/jobs/high-cardinality-detector-1.0-SNAPSHOT.jar
drafts/draft-013/.venv/lib/python3.12/site-packages/numpy.libs/libscipy_openblas64_-56d6093b.so
drafts/draft-013/.venv/lib/python3.12/site-packages/numpy/_core/_multiarray_umath.cpython-312-x86_64-linux-gnu.so
content/006/dist/sherlock-collectorcontent/002/apps/post-service/target/monitoring-0.0.1-SNAPSHOT.jar
content/002/apps/comment-service/target/monitoring-0.0.1-SNAPSHOT.jar
content/007/high-cardinality-detector/target/high-cardinality-detector-1.0-SNAPSHOT.jar
content/007/flink/jobs/high-cardinality-detector-1.0-SNAPSHOT.jar
content/007/flink/jobs/flink-otlp-consumer-1.0-SNAPSHOT.jar
drafts/draft-013/.venv/lib/python3.12/site-packages/numpy.libs/libscipy_openblas64_-56d6093b.so
drafts/draft-013/.venv/lib/python3.12/site-packages/numpy/_core/_multiarray_umath.cpython-312-x86_64-linux-gnu.so
content/006/dist/custom-collector
content/006/dist/custom-collector
content/006/dist/custom-collector
content/003/data/postgres/pg_wal/000000010000000000000001
content/006/dist/custom-collector
content/006/dist/custom-collector
content/006/dist/custom-collector
content/020/go-fiber/loan-gateway
content/022/whisper-api/venv/lib/python3.14/site-packages/ctranslate2/_ext.cpython-314-x86_64-linux-gnu.so
content/022/whisper-api/venv/lib/python3.14/site-packages/numpy.libs/libscipy_openblas64_-32a4b2a6.so
content/022/whisper-api/venv/lib/python3.14/site-packages/ctranslate2.libs/libctranslate2-5a650b64.so.4.7.1
content/022/whisper-api/venv/lib/python3.14/site-packages/av.libs/libx265-3fd9b07c.so.215
content/022/whisper-api/venv/lib/python3.14/site-packages/av.libs/libavcodec-801b7707.so.62.11.100
content/022/whisper-api/venv/lib/python3.14/site-packages/onnxruntime/capi/onnxruntime_pybind11_state.cpython-314-x86_64-linux-gnu.so
content/022/whisper-api/venv/lib/python3.14/site-packages/onnxruntime/capi/libonnxruntime.so.1.24.4
content/022/whisper-api/venv/lib/python3.14/site-packages/hf_xet/hf_xet.abi3.so
